/* General Styles */
body {
    font-family: Arial, sans-serif;
    /* background-color: #a1d0ff; */
    margin: 0;
    padding: 0;
  }
  
  /* Navbar */
  .logo {
    width: 70px;
    height: 50px;
  }
  .hero{
    border: 1px solid gray;
    background-color: rgb(177, 177, 177);
    min-width: 10vw;
    min-height: 10vh;
  }
  
  /* News Cards */
  .card img {
    height: 180px;
    object-fit: cover;
  }
  .navstyle {
    /* border: 2px solid red; */
    /* background-image: linear-gradient(rgb(225, 225, 225), grey); */
    margin: 0;
  }